@import url("main.css");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
h1,
h2,
h3,
h4,
h6 {
  margin-top: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img,
video,
svg {
  display: block;
  height: auto;
  width: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.wrapper-background {
    width: 100vw;
    background-color: var(--gray-opacity);
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    font-family: "Roboto", sans-serif!important;
}

.wrapper-content {
    background-color: var(--light-blue-gray);
    width: 70%;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

.wrapper-content h2 {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    color:  var( --dark-charcoal);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    text-align: left;
    font-family: "Roboto", sans-serif!important;
}

.get-out-button {
    background-color: var(--light-blue-gray);
    color: var( --dark-charcoal);
    padding: 5px;
    text-align: center;
    cursor: pointer;
    margin-left: auto;
    border: 0;
    font-family: "Roboto", sans-serif!important;
}
.get-out-button svg {
    color: var( --dark-charcoal);
    fill: var( --dark-charcoal);
}
.title-container > .secondary-button {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: var( --dark-charcoal);
    border: 0;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--light-blue-gray);
    box-shadow:  inset -1px 0 0 0 #E7EDEF; 
    margin-left: 10px;
    cursor: pointer;
    font-family: "Roboto", sans-serif!important;
}
.secondary-button:hover {
  background-color: var(--pale-lavender); 
}
.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
.button-container .copy-button {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: var( --dark-charcoal);
    border: 0;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--light-blue-gray);
    box-shadow: 0px 0px 0px 1px #E7EDEF;
    margin-left: 10px;
    cursor: pointer;
    font-family: "Roboto", sans-serif!important;
}
.copy-button:hover {
    background-color: var(--pale-lavender);
  }
.button-container .cancel-button {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: var( --dark-charcoal);
    border: 0;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--light-blue-gray);
    box-shadow: 0px 0px 0px 1px #E7EDEF;
    margin-left: 10px;
    cursor: pointer;  
    font-family: "Roboto", sans-serif!important;
}
.cancel-button:hover {
    background-color: var(--pale-lavender);
  }
.secondary-button .material-icons {
    font-size: 15px;
    margin-right: 3px;
}
.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content-container {
    background-color: var(--pale-lavender);
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    overflow-y: scroll;
    height: 200px;
    margin-bottom: 10px;
}
.content-container p {
    color: var( --dark-charcoal);
    font-size: 12px;
    line-height: 1.3;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif!important;
}
