body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  /* max-width: 1440px; */
}
h1,
h2,
h3,
h4 {
  margin-top: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img,
video,
svg {
  display: block;
  height: auto;
  width: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.desktop-container {
  outline: 5px solid red;
  display: flex;
  min-height: 100vh;
}
.desktop-wrapper {
  outline: 2px solid orange;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.main-panels {
  background-color: grey;
  outline: 2px solid green;
  flex: 1;
}
.desktop-rigth-nav {
  outline: 2px solid pink;
}
.desktop-menu-wrapper svg {
  width: 45px;
  height: 45px;
}
.desktop-menu-wrapper {
  display: flex;
  flex-direction: column;
}
.desktop-menu-wrapper a {
  display: flex;
  flex-direction: column;
}
.logotipo {
  width: 70px;
  height: 70px;
}
.sub-category {
  display: none;
}
#compras:checked ~ .sub-category {
  display: flex;
  flex-direction: column;
}
#contabilidad:checked ~ .sub-category {
  display: flex;
  flex-direction: column;
}
#cuentasporcobrar:checked ~ .sub-category {
  display: flex;
  flex-direction: column;
}
#cuentasporpagar:checked ~ .sub-category {
  display: flex;
  flex-direction: column;
}
#cultivo:checked ~ .sub-category {
  display: flex;
  flex-direction: column;
}
#exportaciones:checked ~ .sub-category {
  display: flex;
  flex-direction: column;
}
#general:checked ~ .sub-category {
  display: flex;
  flex-direction: column;
}
#inventarios:checked ~ .sub-category {
  display: flex;
  flex-direction: column;
}
#postcosecha:checked ~ .sub-category {
  display: flex;
  flex-direction: column;
}
#rrhh:checked ~ .sub-category {
  display: flex;
  flex-direction: column;
}
#sistemas:checked ~ .sub-category {
  display: flex;
  flex-direction: column;
}
#tesorería:checked ~ .sub-category {
  display: flex;
  flex-direction: column;
}
#ventaslocal:checked ~ .sub-category {
  display: flex;
  flex-direction: column;
}
#img:checked ~ .sub-category {
  display: flex;
  flex-direction: column;
}
.sub-category svg{
  width: 45px;
  height: 45px;
}
.sub-category p {
  margin-top: 0;
  margin-bottom: 0;
  color: grey;
  font-weight: 500;
  font-size: 8px;
  line-height: 1;
}
#compras {
  position: absolute;
  visibility: hidden;
}
#contabilidad {
  position: absolute;
  visibility: hidden;
}
#cuentasporcobrar {
  position: absolute;
  visibility: hidden;
}
#cuentasporpagar {
  position: absolute;
  visibility: hidden;
}
#cultivo {
  position: absolute;
  visibility: hidden;
}
#exportaciones {
  position: absolute;
  visibility: hidden;
}
#general {
  position: absolute;
  visibility: hidden;
}
#inventarios {
  position: absolute;
  visibility: hidden;
}
#postcosecha {
  position: absolute;
  visibility: hidden;
}
#rrhh{
  position: absolute;
  visibility: hidden;
}
#sistemas {
  position: absolute;
  visibility: hidden;
}
#tesorería {
  position: absolute;
  visibility: hidden;
}
#ventaslocal {
  position: absolute;
  visibility: hidden;
}
#img {
  position: absolute;
  visibility: hidden; 
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.category {
  margin-top: 0;
  margin-bottom: 0;
  color: grey;
  font-weight: 700;
  font-size: 10px;
  line-height: 1;
}
.desktop-nav-wrapper {
  outline: 1px solid teal;
}
.desktop-canvas {
  outline: 1px solid purple;
  flex: 1;
}
.desktop-sidebar {
  outline: 1px solid salmon;
}
.wrapper-canva-sidebar {
  outline: 1px solid gold;
  flex: 1;
  flex-direction: row;
  display: flex;
}
.main-panel {
  display: flex;
    flex: 1;
    flex-direction: column;
}
.desktop-list {
  position: relative;
  flex: 1;
}
.sub-category {
  background-color: antiquewhite;
  position: absolute;
  left: 87px;
  top: 0;
  height: 100%;
  width: 100%;
}
.desktop-fieldset {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
}